<nav class="navbar navbar-dark bg-dark">
  <form class="form-inline form-nav">
  <a class="navbar-brand"><img src="../../../assets/img/24_7.png" height="40px"
  /></a>
    <button class="btn btn-dark  btn-nav mx-auto" routerLink="/home">
     Home / News
    </button>
  
    <button class="btn btn-dark  btn-nav mx-auto" routerLink="/sports">
      Sports
    </button>
    <button class="btn btn-dark  btn-nav mx-auto" routerLink="/about-us">
      About Us
    </button>
    <button
      class="btn btn-dark  btn-nav mx-auto"
      routerLink="/contact-us"
    >
      Contact Us
    </button>
    <a class="navbar-brand"><img src="../../../assets/img/24_7.png" height="40px"
      /></a>
  </form>
</nav>
