<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/home"
    ><img src="../../../assets/img/247.png" height="47px"
  /></a>

  <form class="form-inline form-nav">
    <button class="btn btn-primary btn-lg btn-nav mx-auto" routerLink="/home">
      Home
    </button>
    <button class="btn btn-primary btn-lg btn-nav mx-auto" routerLink="/sports">
      Sports
    </button>
    <button class="btn btn-primary btn-lg btn-nav mx-auto" routerLink="/about-us">
      About Us
    </button>
    <button
      class="btn btn-primary btn-lg btn-nav mx-auto"
      routerLink="/contact-us"
    >
      Contact Us
    </button>
  </form>
</nav>
