<app-header></app-header>
<div class="register padded-page">
  <div class="container">
    <div class="row">
      <div class="col-md-8 m-auto">
        <p class="lead border bg-success font-weight-bold text-center">
          User Name: {{ data.name }}, Email: {{ data.email }}
        </p>
        <h1 class="display-4 text-center">Add News</h1>

        <form (ngSubmit)="addNews()">
          <div class="form-group">
            <label class="h3"> Title</label>
            <input
              type="text"
              class="form-control form-control-lg"
              placeholder="Title"
              name="title"
              [(ngModel)]="news.title"
            />

            <div class="invalid-feedback d-block">{{ error.title }}</div>
          </div>
          <div class="form-group">
            <label class="h3"> Description</label>
            <input
              type="text"
              class="form-control form-control-lg"
              placeholder="description"
              name="description"
              [(ngModel)]="news.description"
            />

            <div class="invalid-feedback d-block">{{ error.description }}</div>
          </div>
          <div class="form-group">
            <label class="h3"> URL</label>
            <input
              type="text"
              class="form-control form-control-lg"
              placeholder="URL"
              name="url"
              [(ngModel)]="news.url"
            />

            <div class="invalid-feedback d-block">{{ error.url }}</div>
          </div>

          <div class="form-group">
            <label class="h3"> URL To Image</label>
            <input
              type="text"
              class="form-control form-control-lg"
              placeholder="URL To Image"
              name="urlToImage"
              [(ngModel)]="news.urlToImage"
            />

            <div class="invalid-feedback d-block">{{ error.urlToImage }}</div>
          </div>

          <div class="form-group">
            <label class="h3"> Published At</label>
            <input
              type="date"
              class="form-control form-control-lg"
              placeholder="Published At"
              name="publishedAt"
              [(ngModel)]="news.publishedAt"
            />
            <div class="invalid-feedback d-block">{{ error.publishedAt }}</div>
          </div>

          <div class="row">
            <div class="col">
              <input
                type="submit"
                class="btn btn-success btn-block mt-4"
                value="Add News"
              />
            </div>
            <div class="col">
              <input
                type="reset"
                class="btn btn-danger btn-block mt-4"
                value="Reset"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
