<app-main-header></app-main-header>
<div class="container-fluid padded-page">
  <div class="card mx-1 mt-2">
    <div class="row text-center">
      <div class="col mt-1">
        <h3>Weather</h3>
      </div>
    </div>
    <div class="row">
      <div class="col ml-3">
        <weather-search></weather-search>
        <weather-list></weather-list>
      </div>
    </div>
  </div>
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" *ngFor="let news of newsList;let index = index"
        [attr.data-slide-to]="index"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item" *ngFor="let news of newsList;let index = index;let isFirst = first"
        [ngClass]="{active:isFirst}">
        <a [href]="news.url" target="_blank">
          <img [src]="news.urlToImage" class="d-block w-100" [alt]="news.title">
        </a>
        <div class="carousel-caption d-none d-md-block">
          <h5 style="color:rgb(248, 248, 245);" [textContent]="news.title"></h5>
        </div>

      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="row justify-content-around">
    <div class="p-2">
      <div class="col-auto d-flex justify-content-center">
        <ng-container *ngFor="let latestNews of threeLatestNewsList">
          <button class="btn btn btn-dark"
            (click)="showNewsData(latestNews.description, latestNews.title, latestNews.newsUrl, latestNews.newsImageURL)">
            {{ latestNews.title }}
          </button>
        </ng-container>

      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-4 text-center p-2">
      <h3>{{ newsTitle }}</h3>
      <p>{{ newsData }}</p>
    </div>
  </div>
</div>
<app-chat-inbox></app-chat-inbox>
<app-main-footer></app-main-footer>