<app-main-header></app-main-header>
<header class="header">
  <div class="header_logo">Today's Sports News</div>

</header>


<div class="container-fluid padded-page">
  <div class="row">
    <div class="col">
      <ul class="list-group list-group-flush news-list">
        <div class="card-group">
          <li class="list-group-item" *ngFor="let links of news['hits']">
            <div class="card border-info" style="width: 25rem;">
              <div class="card-body ">
                <h5><a href="{{ links.url }}" class="card-title" target="_blank">{{ links.title | titlecase }}</a> </h5>
                <br><br>
                <h5 class="card-title">- {{ links.author | titlecase}}</h5>
              </div>
            </div>
          </li>
        </div>
      </ul>
    </div>
  </div>
</div>
<app-main-footer></app-main-footer>