<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/home"
    ><img src="../../assets/Stellar News.jpg" height="40px"
  /></a>

  <form class="form-inline form-nav">
    <button class="btn btn-info btn-lg btn-nav mx-auto" routerLink="/home">
      Home
    </button>
    <button class="btn btn-info btn-lg btn-nav mx-auto" routerLink="/sports">
      Sports
    </button>
    <button class="btn btn-info btn-lg btn-nav mx-auto" routerLink="/news">
      News
    </button>
    <button class="btn btn-info btn-lg btn-nav mx-auto" routerLink="/about">
      About Us
    </button>
    <button class="btn btn-info btn-lg btn-nav mx-auto" routerLink="/contact">
      Contact Us
    </button>
  </form>
</nav>

