<app-main-header></app-main-header>
<div class="container-fluid">
  <div class="row text-center">
    <div class="col my-3">
      <h1>Contact Us</h1>
    </div>
  </div>
</div>

<div class="card bg-light mx-5">
  <div class="alert alert-success my-3 mx-3" role="alert" *ngIf="submitted">
    <strong>Message was sent to Update24x7 staff.</strong>
  </div>

  <form [formGroup]="contactForm" (ngSubmit)="contactForm.valid && onSubmit()">
    <div class="col text-left justify-content-center">
      <div class="form-group">
        <label for="email" class="my-3">Email</label>
        <input class="form-control" type="email" id="email" formControlName="email" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.email">
            Email must be a valid email address (e.g. user@domain.com)
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="message" class="my-3">Message</label>
        <!--<input class="form-control form-control-lg" type="text" id="message" />-->
        <textarea id="message" class="form-control" rows="7" formControlName="message"></textarea>
        <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
          <div *ngIf="f.message.errors.required">Message must be filled out</div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-4 d-flex justify-content-center">
        <button type="submit" class="btn btn-primary btn-lg btn-block my-3" [disabled]="contactForm.invalid">
          Submit
        </button>
      </div>
    </div>
  </form>
</div>
<app-main-footer></app-main-footer>