<app-main-header></app-main-header>
<div class="container-fluid pb-5">
  <div class="row justify-content-around mt-2">
    <div class="col-md-5">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3031.078921866651!2d-74.3368732847375!3d40.561934379348514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c3b667532db7fd%3A0x42a56146afbed101!2sTata%20Consultancy%20Services!5e0!3m2!1sen!2sus!4v1600787675471!5m2!1sen!2sus"
        width="600"
        height="450"
        frameborder="0"
        style="border: 0"
        allowfullscreen=""
        aria-hidden="false"
        tabindex="0"
      ></iframe>
    </div>
    <div class="col-md-5">
      <h5>
        We ensure the highest levels of certainty and satisfaction through a
        deep-set commitment to our clients, comprehensive industry expertise and
        a global network of innovation and delivery centers.
      </h5>
      <p>
        <strong>Our mission</strong> is to help customers achieve their business
        objectives by providing innovative, best-in-class consulting, IT
        solutions and services and to make it a joy for all stakeholders to work
        with us.
      </p>
      <p>
        We function as a full stakeholder to business, offering a consulting-led
        approach with an integrated portfolio of technology led solutions that
        encompass the entire Enterprise value chain. Our Customer-centric
        Engagement Model defines how we do engage with you, offering specialized
        services and solutions that meet the distinct needs of your business.
      </p>
      <p>
        We build bespoke teams around your domain and technology requirements
        drawn from our talent pool of over 443,676 global professionals
        including 36.2% women from 146 nationalities. Our domain expertise has
        been built upon decades of experience working across industries and this
        knowledge underpins our suite of solutions.
      </p>
    </div>
  </div>
</div>
<app-main-footer></app-main-footer>
