<app-main-header></app-main-header>
<div class="container-fluid pb-5">
  <div class="row justify-content-around mt-2">
    <div class="col-md-5">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3031.078921866651!2d-74.3368732847375!3d40.561934379348514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c3b667532db7fd%3A0x42a56146afbed101!2sTata%20Consultancy%20Services!5e0!3m2!1sen!2sus!4v1600787675471!5m2!1sen!2sus"
        width="600"
        height="450"
        frameborder="0"
        style="border: 0"
        allowfullscreen=""
        aria-hidden="false"
        tabindex="0"
      ></iframe>
    </div>
    <div class="col-md-5">
      <h5>
        We deliver news and information every hour of every day.  
        If we don't cover it, it didn't happen.
      </h5>
      <p>
        Our mission is to inform our readers and provide clear news in a simple format so that 
        everyone can gain better knowledge of the news of the day.  Our health news has been 
        on top of the most vital information since 2019.  Our sports covereage is perfect for any 
        fan.  Our information is 
      </p>
      <p>
      ///////////////
      </p>
      <p>
            ///////////////
      </p>
    </div>
  </div>
</div>
<app-main-footer></app-main-footer>
